body {
    background-color: #E1E1E1;
}

header {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
}

#title {
    font-size: 130%;
    text-align: center;
}

#subtitle {
    text-align: center;
}

h1 {
    color: #885533;
    text-decoration: underline;
    display: inline;
    text-shadow: 1px 1px 1px #C1C1C1;
}

span[class="blog_subpost"] {
    font-size: 70%;
    font-style: italic;
}

p[class="post_content"] {
    border: 1px solid black;
    border-radius: 5px;

    padding: 10px;
}

#page {
    width: 900px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 10px;
    /* background-color: #CCCCCC; */
    background-color: #FFFFFF;
    padding-left: 25px;
    padding-right: 25px;
/*  border-left: 5px dashed grey;
    border-right: 5px dashed grey; */

    box-shadow: 2px 2px 3px 2px #C1C1C1;
}